<li>
	<div class="list InfoTask">
		<span><strong> <%= title %> </strong></span><br>
		<small> Description: <%= description%> </small>
					
	</div>
				
	<hr>
	<div class="details hidden">
		<small> Initial Date: <%= initDate %> </small><br>
		<small> Final Date: <%= endDate %> </small><br>
		<small> Type: <%= type %> </small><br>
		<small> Alarm: none </small><br>
		<small> Priority: <%= priority %> </small><br>
		<small> Save: <%= save %> </small>
	</div>
	<hr class="details hidden">
</li>
	




	